.chatManager {
    position: fixed;
    left: calc(100vw - 265px);
    bottom: 22px;
    width: 250px;
    background: var(--middleBlue);
    border-top-left-radius: 5px;
    border: 1px solid var(--navy);
    border-right: none;
}

.btn-chat {
    color: var(--coolWhite);
    width: 100%;
}

#chatManagerWindow {
    max-height: 400px;
    background: var(--lightBlue);
    border-top-left-radius: 5px;
}
